body{
    background-color: rgb(252, 239, 180);
}
.main-container{
    border: 4px solid rgb(255, 178, 44);
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    margin:auto;
}

.left-child-container{
    margin-left: 20px;   
    width: 200px;
    padding: 5px 20px 20px 10px;
    background-color: rgb(255, 149, 0);
    color: brown;
}

.date,.time{
    font-size:  25px;
    color: brown;

}

#startCountdown{
    background-color: brown;
    color: aliceblue;
    margin-top: 15px;
    width: 70px;
    height: 30px;
    font-size: 15px;
}
.timer{
    background-color:mintcream;
    height: 75px;
    border-radius: 3px;
    width: 375px;
    align-content: center;
    margin-top: 10px;
    color: rgb(93, 13, 122);
}
input{
    font-size: large;
}

#startBtn{
    margin-top: 20px;
    margin-left: 10px;
    width: 75px;
    height: 35px;
    font-size: 1rem;
    background-color:#d9534f;
    color: white;
}
.center-child-container{
    background-color:rgb(255, 149, 0); 
    margin-left: 15%;
    width: 450px;
    display:flex;
    justify-content:space-around;
    font-size: 22px;
    font-weight: 550;
    color:brown;
}
/*
.remaining-datetime{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
*/
.remaining-datetime {
    display:grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap:10px;
    margin-left: 15px;
}
.division-datetime{
    margin-top: 40px;
    margin-bottom: 0;
    height: 60px;
}

.division-datetime, .timer{
    display:grid;
    grid-template-columns: repeat(4,80px);
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.division-datetime p, .timer p{
    font-size: 25px;
    font-weight: bold;
    margin: 0;

}

.timer p{
    font-size: 35px;
    color:black;
  
 } 
.name{
    text-align: center;
    font-weight:bolder;
    font-size:  35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(249,220,92);
    height: 40px;
    color: orangered;
    padding-top: 10px;
}

.message{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
    margin-top: 20px;
}